body{
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: arial,sans-serif;
    color: #222;
    background: #fff;
    display: block;
    overflow-y: hidden;
    overflow-x: hidden;
}